{% extends "base.html.twig" %}

{% block content %}
	<div id="autor-info">
		<h1>{{autor.nomComplet}}</h1>
		{% if autor.obres|length > 0 %}
			<h2>Obres</h2>
			<ul>
				{% for obra in autor.obres %}
					<li>-<a href="{{basePath}}/obra/{{obra.id}}" class="hover:underline hover:text-klit-lila">{{obra.titolOriginal}}</a>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
		{% if autor.llibres|length > 0 %}
			<h2>Llibres</h2>
			{% include "Components/carrousselLlibres.html.twig" with {llibres: autor.llibres} %}
		{% endif %}
	</div>
{% endblock %}
