{% extends "base.html.twig" %}
{% set socJo = usuari.id == perfilUsuari.id %}
{% block content %}
	<h1>Perfil</h1>
	<div id="usuari-info">
		<div class="table table-auto text-left border-separate border-spacing-x-2 w-auto">
			<dl class="table-row">
				<dt class="table-cell font-bold">Nom</dt>
				<dd class="table-cell">{{perfilUsuari.usuari}}</dd>
			</dl>
			{% if socJo %}
				<dl class="table-row">
					<dt class="table-cell font-bold">Email</dt>
					<dd class="table-cell">{{perfilUsuari.email}}</dd>
				</dl>
			{% endif %}
		</div>
		{# TODO: Botó canviar contrassenya #}
	</div>
	<div id="llegint">
		{% include "Components/Perfil/llegint.html.twig" with {llegint: llegits|filter(l => l.dataAcabat is null)} %}
	</div>
	<div id="ultimes-lectures" class="mt-4">
		<h2 class="mb-2">Últimes lectures</h2>
		<div class="flex flex-wrap flex-row justify-between">
			{% for llegit in llegits|filter(l => l.dataAcabat is not null and (socJo or l.privat == false ))|slice(0,6) %}
				<div class="text-center">
					{% include "Components/Atoms/coberta.html.twig" with {llibre: llegit.llibre, alcada: 200} %}
					<p class="mt-2">{{llegit.valoracio}}</p>
				</div>
			{% endfor %}
		</div>
	</div>
	{# TODO: Estadístiques? #}
	{# TODO: Historial #}
{% endblock %}
