<!DOCTYPE html>
<html lang="ca">
<head>
	{% block head %}
	<meta charset="UTF8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{{ titol }}</title>
	<link rel="icon" type="image/ico" href="logo.ico"/>
	<link rel="stylesheet" type="text/css" href="css/kartalit.css">
	{% endblock %}
</head>
<body class="bg-orange-500">
	<div id="header">{% block header %}{% endblock %}</div>
	<div id="content">{% block content %}{% endblock %}</div>
	<div id="footer" class="text-xs text-center fixed bottom-0 w-full p-4">{% block footer %}
		<p>Kartalit - 2025</p>
{% endblock %}</div>
</body>
</html>