<!DOCTYPE html>
<html lang="ca">
	<head>
		{% block head %}
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>{{ titol }}</title>
			{% include "googleFonts.twig" %}
			<link rel="icon" type="image/ico" href="{{basePath}}/logo.ico"/>
			<link rel="stylesheet" type="text/css" href="{{basePath}}/css/kartalit.css">
		{% endblock %}
	</head>
	<body class="bg-klit text-klit-text font-text flex flex-col">
		{% block header %}
			{% include "header.html.twig" %}
		{% endblock %}
		<div id="content" class="px-5 sm:px-10 md:px-30 lg:px-40 xl:px-75 mt-10"> {% block content %}{% endblock %}
			</div>
			<footer id="footer" class="text-xs text-center bottom-0 inset-x-0 w-full p-2 mt-20">
				{% block footer %}
					<p>Kartalit -
						{{"now"|date("Y")}}</p>
				{% endblock %}
			</footer>
			{% block js %}{% endblock %}
		</body>
	</html>
