{% extends "./base.html.twig" %}

{% block content %}
	{% include "./Components/randomCita.html.twig" %}
	{% set llibres = llibresNous %}
	<div class="mt-4">
		<p>
			<b>Últimes incorporacions:</b>
		</p>
		{% include "./Components/carrousselLibres.html.twig" %}
	</div>
{% endblock %}
