<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF8">
	<meta name="viewport" content="width=device-width"/>
	<title>Kartalit</title>
	<link rel="icon" type="image/ico" href="logo.ico"/>
    <link rel="stylesheet" type="text/css" href="css/kartalit.css">
</head>
<body>
<h1>Pròximament {{ name }}</h1>
<h2>Més taronja que mai</h2>
</body>
</html>