{% extends "./base.html.twig" %}

{% block content %}
    <div style="margin:auto">
        <table>
            <tr>
                <td>Usuari</td>
            </tr><tr>
                <td>Contrassenya</td>
            </tr>
        </table>
    </div>
{% endblock %}