{% extends "./base.html.twig" %}

{% block content %}
    <div class="m-auto">
        <form id="formLogin">
            {# {{ csrfInput() }} #}
            {# <input type="hidden" name="action" value="users/login"> #}
        
            <h3><label for="usuari">Usuari</label></h3>
            <input class="my-4 border-b-2 border-klit-dark" id="usuari" type="text" name="usuari">
        
            <h3><label for="password">Contrassenya</label></h3>
            <input class="my-4 border-b-2 border-klit-dark" id="password" type="password" name="password">
            <br>
            <label>
                <input class="mt-4" type="checkbox" name="rememberMe" value="1">
                Recorda'm
            </label>
            <br>
            <input class="mt-2 border-2 border-klit-dark rounded-md p-1" type="submit" value="Login">
        
            {% if errorMessage is defined %}
                <p>{{ errorMessage }}</p>
            {% endif %}
        </form>    
    </div>
{% endblock %}
{% block js %}
    <script src="./js/login.js"></script>
{% endblock %}