{% extends "./base.html.twig" %}

{% block content %}
    <div class="text-center m-auto w-full">
        <table>
            <tr>
                <td>Usuari</td>
                <td><input type="text" size="20" name="usuari"></td>
            </tr><tr>
                <td>Contrassenya</td>
            </tr>
        </table>
    </div>
{% endblock %}