@import "tailwindcss" source("/");

@layer base {
    #llibre-info h1, #llibre-info h2, #llibre-info h3,
    #obra-indfo h1, #obra-info h2, #obra-info h3{
        @apply font-heading;
    }
    h1 {
        @apply text-3xl lg:text-4xl
    }
    h2 {
        @apply text-xl lg:text-2xl
    }
}

@theme {
    --color-klit: #ff8847;
    --color-klit-dark: #32373b;
    --color-klit-text: #131516;
    --font-heading: "Fondamento", serif;
    --font-text: "EB Garamond", serif;
}

