@import "tailwindcss" source("/");

@layer base {
    #llibre-info h1, #llibre-info h2, #llibre-info h3,
    #obra-indfo h1, #obra-info h2, #obra-info h3{
        @apply font-heading;
    }
    h1 {
        @apply text-3xl lg:text-4xl
    }
    h2 {
        @apply text-xl lg:text-2xl
    }
}

@theme {
    --color-klit: #ff8847;
    --color-klit-dark: #32373b;
    --color-klit-text: #131516;
    --color-klit-lila: #332233;
    --color-klit-light: #30E7ED;
    /* --color-klit-oposite-klit: #47b2ff */
    --font-heading: "Fondamento", serif;
    --font-text: "EB Garamond", serif;
}

.header-item {
    height: fit-content;
    background-color: var(--color-klit-dark);
    padding: calc(var(--spacing) * 4);
}
.header-item:hover {
    height: fit-content;
    background-color: var(--color-klit-dark);
    padding: calc(var(--spacing) * 4);
    border-radius: var(--radius-sm);
    box-shadow: inset -5px 0 var(--color-klit-dark),inset 4px 0 0px -1px var(--color-klit-dark),inset 0 -4px 1px -1px var(--color-klit-light);
}

li#desplegable:hover > ul,
li#desplegable:focus-within > ul {
    display: block;
}