@import "tailwindcss" source("/");
@source "../../public/js";

@theme {
    --breakpoint-xs: 30rem;
    --color-klit: #ff8847;
    --color-klit-dark: #32373b;
    --color-klit-text: #131516;
    --color-klit-lila: #332233;
    --color-klit-light: #30E7ED;
    --color-klit-vermell: #AA1945;
    /* --color-klit-oposite-klit: #47b2ff */
    --font-heading: "Fondamento", serif;
    --font-text: "EB Garamond", serif;
}
@layer base {
    #llibre-info h1, #llibre-info h2, #llibre-info h3,
    #obra-info h1, #obra-info h2, #obra-info h3,
    #buscador-info h1, #buscador-info h2, #buscador-info h3{
        @apply font-heading;
    }
    h1 {
        @apply text-3xl lg:text-4xl
    }
    h2 {
        @apply text-xl lg:text-2xl
    }
    label {
        @apply font-semibold
    }
    div.labelOnInput {
        @apply inline-flex flex-col gap-0
    }
    .input-item {
        @apply shadow-xs shadow-klit-dark rounded-lg p-2
    }
    .input-warning {
        @apply border-2 border-klit-vermell
    }
    .pagination {
        @apply mx-1 p-2.5 aspect-2/1 place-content-center text-center rounded-xl font-semibold cursor-pointer shadow-md shadow-klit-lila hover:shadow-lg
    }
}

.header-item {
    height: fit-content;
    background-color: var(--color-klit-dark);
    padding: calc(var(--spacing) * 4);
}
.header-item:hover {
    height: fit-content;
    background-color: var(--color-klit-dark);
    padding: calc(var(--spacing) * 4);
    border-radius: var(--radius-sm);
    box-shadow: inset -5px 0 var(--color-klit-dark),inset 4px 0 0px -1px var(--color-klit-dark),inset 0 -4px 1px -1px var(--color-klit-light);
}
div#desplegable > ul {
    display: none;
    position: absolute;
    background-color: var(--color-klit-dark);
    min-width: 100%;
    width: max-content;
    right: calc(var(--spacing) * 0);
    margin-top: calc(var(--spacing) * 2.5);
}
div#desplegable:hover > ul,
div#desplegable:focus-within > ul {
    display: block;
}