{# Requereix propietat mapaLiterari #}
{% if mapaLiterari or usuari %}
	<div id="mapa-literari-block" class="w-full mt-8">
		<div class="grid grid-cols-2">
			<div>
				<h1>Mapa literari</h1>
			</div>
			{% if usuari and biblioteca != null %}
				<div class="px-2 text-right text-3xl text-klit-dark">
					<button id="add-mapa-boto" class="hover:text-klit-lila cursor-pointer" href="#mapa-literari-block">
						<i class="fa-solid fa-map-location-dot" title="Afegeix una ubicacio"></i>
					</button>
				</div>
			{% endif %}
		</div>
		<div id="mapa-literari" class="min-h-[450px] h-[60vh] mt-2 mx-2 rounded-sm hidden"></div>
		{% if usuari %}
			<form id="form-mapa-nou">
				<div id="mapa-nou" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-6 gap-2 m-2 p-2 rounded-lg shadow-xs shadow-klit-dark hidden">
					{% if llibre.obres|length > 1 %}
						<div class="mb-2 col-span-full">
							<label for="nou_mapa_obra">Obra</label>
							<select name="obra" id="nou_mapa_obra" placeholder="Sel·lecciona una obra">
								<option value="" disabled selected>Tria una obra</option>
								{% for obra in llibre.obres %}
									<option value="{{obra.id}}">{{obra.titolOriginal}}</option>
								{% endfor %}
							</select>
						</div>
					{% else %}
						<input type="hidden" name="obra" value="{{llibre.obres[0].id}}" class="border-klit-light">
					{% endif %}

					<div class="mb-2 col-span-full">
						<label for="nou_mapa_tipus">Tipus</label>
						<select name="tipus" id="nou_mapa_tipus">
							<option value="Ubicació general">Ubicació general</option>
							<option value="Lloc puntual">Lloc puntual</option>
						</select>
						<label for="nou_mapa_privat">Privat</label>
						<input type="checkbox" name="privat" id="nou_mapa_privat">
					</div>
					<div class="mb-2 col-start-1 md:col-span-3">
						<input type="text" name="adreca" id="nou_mapa_adreca" class="w-full input-item mr-2 focus:border-klit-lila" placeholder="Adreça">
					</div>
					<div
						class="mb-2 md:col-span-3 lg:col-span-2">
						{# TODO: Ubicacio #}
						<select name="ubicacio" id="nou_mapa_ubicacio" class="w-full"></select>
					</div>
					<div class="mb-2 md:col-span-2">
						<input type="text" name="latitud" id="nou_mapa_lat" class="input-item w-full" placeholder="Latitud">
					</div>
					<div class="mb-2 md:col-span-2">
						<input type="text" name="longitud" id="nou_mapa_lon" class="input-item w-full" placeholder="Longitud">
					</div>
					<div class="mb-2 md:col-span-2">
						<label for="nou_mapa_precisio">Precís</label>
						<input type="checkbox" name="precisio" id="nou_mapa_precisio">
					</div>
					<div class="mb-2 col-span-full">
						<textarea name="comentari" id="nou_mapa_comentari" class="input-item w-full" placeholder="Comentari sobre la ubicació."></textarea>
					</div>
					<div class="mb-2 col-span-full text-right">
						<input type="submit" class="px-1 mt-2 border-2 rounded-lg cursor-pointer border-klit-lila hover:bg-klit-lila hover:text-white" value="Desar">
					</div>
				</div>
			</form>
			<div id="mapa-buit" class="hidden text-center">
				<p>No hi ha ubicacions al mapa. Afegeix-ne!</p>
			</div>
		{% endif %}
	</div>
{% endif %}
