<search class="flex flex-row items-center w-full lg:w-4/5 xl:w-3/4 bg-orange-50 text-klit-dark rounded-md focus-within:rounded-br-none">
	<div class="mx-3">
		<i class="fa-solid fa-book"></i>
	</div>
	<div id="header_buscador_parent" class="grow flex items-center relative">
		<input type="text" id="header_buscador" name="busca_llibre" class="grow p-1 pl-2 focus:ring-klit-vermell" placeholder="Busca llibre per títol, autor, isbn">
		<span class="hidden">
			<i class="fa-solid fa-spinner mx-2 animate-spin"></i>
		</span>
	</div>
</search>
