{# Requereix array llegint #}
{% if llegint %}
	<div>
		<h2 class="mb-2">Llegint</h2>
		{% for llegintLlibre in llegint %}
			{% include "Components/Atoms/coberta.html.twig" with {llibre: llegintLlibre.llibre} %}
		{% endfor %}
	</div>
{% endif %}
